{% load static %}

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="{% static 'assets/js/pace.min.js' %}"></script>
	<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
	<script src="{% static 'assets/js/jquery.min.js' %}"></script>
	<script src="{% static 'assets/plugins/datatable/js/jquery.dataTables.min.js' %}"></script>
	<script src="{% static 'assets/plugins/datatable/js/dataTables.bootstrap5.min.js' %}"></script>
	<script src="{% static 'assets/plugins/simplebar/js/simplebar.min.js' %}"></script>
	<script src="{% static 'assets/plugins/metismenu/js/metisMenu.min.js' %}"></script>
	<script src="{% static 'assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js' %}"></script>
	<script src="{% static 'assets/plugins/chartjs/js/Chart.min.js' %}"></script>
	<script src="{% static 'assets/plugins/vectormap/jquery-jvectormap-2.0.2.min.js' %}"></script>
    <script src="{% static 'assets/plugins/vectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
	<script src="{% static 'assets/plugins/jquery.easy-pie-chart/jquery.easypiechart.min.js' %}"></script>
	<script src="{% static 'assets/plugins/sparkline-charts/jquery.sparkline.min.js"></script>
	<script src="{% static 'assets/plugins/jquery-knob/excanvas.js' %}"></script>
	<script src="{% static 'assets/plugins/jquery-knob/jquery.knob.js' %}"></script>
	  <script>
		  $(function() {
			  $(".knob").knob();
		  });
	  </script>
	  <script src="{% static 'assets/js/index.js' %}"></script>
	<!--app JS-->
	<script src="{% static 'assets/js/app.js' %}"></script>
	<!--app JS-->

