{% extends 'base.html' %}
{% load static %}
{% block title %} Категории техники компании {% endblock %}

{% block content %}
<div class="card">
					<div class="card-body">
						<div class="d-lg-flex align-items-center mb-4 gap-3">
						  <div class="ms-auto"><a href="/machinery/add" class="btn btn-primary radius-30 mt-2 mt-lg-0"><i class="bx bxs-plus-square"></i>Добавить</a></div>
						</div>
						<div class="table-responsive">
							<table class="table mb-0">
								<thead class="table-light">
									<tr>
										<th>Название</th>
										<th>Цена</th>
										<th>Номер</th>
										<th>Ответственный</th>
                                        <th>Страница</th>
                                        <th>Редактирование</th>
									</tr>
								</thead>
								<tbody>
                                {% for item in listProducts %}
									<tr>
                                        <td>{{item.title}}</td>
										<td>{{item.price}}</td>
										<td>{{item.inventoryNumber}}</td>
										<td>Ответственный</td>
										<td><a type="button" class="btn btn-primary btn-sm radius-30 px-4" href="{% url 'itemPage' item.id %}">Подробнее</a></td>
										<td>
											<div class="d-flex order-actions">
												<a href="javascript:;" class=""><i class="bx bxs-edit"></i></a>
												<a href="javascript:;" class="ms-3"><i class="bx bxs-trash"></i></a>
											</div>
										</td>
									</tr>
                                {% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>

{% endblock %}