{% extends 'base.html' %}
{% load static %}
{% block title %} Страница с ссылками {% endblock %}

{% block content %}
<div class="container">
					<div class="main-body">
						<div class="row">
							<div class="col-lg-4">
								<div class="card">
									<div class="card-body">
										<div class="d-flex flex-column align-items-center text-center">
											<img src="{% static 'assets/images/avatars/avatar-2.png' %}" alt="Admin" class="rounded-circle p-1 bg-primary" width="110">
											<div class="mt-3">
												<h4>{{sotr.name}} {{sotr.surname}}</h4>

											</div>
										</div>
										<hr class="my-4" />

									</div>
								</div>
							</div>
							<div class="col-lg-8">
								<div class="card">
									<div class="card-body">
										<div class="row mb-3">

											<div class="col-sm-3">
												<h6 class="mb-0">ФИО</h6>
											</div>
											<div class="col-sm-9 text-secondary">
												<h5>{{sotr.name}} {{sotr.surname}}</h5>
											</div>
										</div>
										<div class="row mb-3">
											<div class="col-sm-3">
												<h6 class="mb-0">Должность</h6>
											</div>
											<div class="col-sm-9 text-secondary">
												<h5>{{sotr.position}}</h5>
											</div>
										</div>
										<div class="row mb-3">
											<div class="col-sm-3">
												<h6 class="mb-0">ID в битриксе</h6>
											</div>
											<div class="col-sm-9 text-secondary">
												<h5>{{sotr.idАFromBitrix}}</h5>
											</div>
										</div>

									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
{% endblock %}
